<ng-container *ngIf="data$ | async as data">
  <div class="grid grid-nogutter">
    <div class="col-2">CUSTOMER FILTER</div>
    <div class="col-2 col-offset-8 text-right">
      <button pButton pRipple
        type="button"
        label="Discard filters"
        class="p-button-danger p-button-text p-button-sm"
        (click)="resetFiltersForm()"
      ></button>
    </div>
    <div class="col-12 bg-white py-5 px-3">
      <app-form-steps
        [events]="data.events.events"
        [propertiesByEvent]="data.events.propertiesByEvent"
        [steps]="steps"
        [filtersForm]="filtersForm"
        (removeStepAction)="removeStep($event)"
        (cloneStepAction)="cloneStep($event)"
        (resetFiltersAction)="resetFiltersForm()"
        (addStepAction)="addStep()"
      ></app-form-steps>
    </div>
    <p-button
      label="Apply filters"
      class="my-5" (click)="onApplyFilters()"
    ></p-button>

  </div>
</ng-container>
