<ng-container [formGroup]="filtersForm">
  <ng-container formArrayName="steps">
    <div *ngIf="events &&  steps" class="events-container">

      <!-- Single step -->
      <div *ngFor="let step of steps.controls; let i = index">
          <div [formGroup]="step">
            <div class="grid">

              <!-- Step header ( title, clone, remove icons ) -->
              <div class="col-12 text-sm text-600 step-header">
                <div class="grid">
                  <div class="col-4">
                    {{ i + 1}}.step: <span class="pl-2">{{ getStepCustomerEventValue(i) ? getStepCustomerEventValue(i) : 'Unnamed step'}}</span>
                    <i class="pi pi-pencil pl-2"></i>
                  </div>
                  <div class="col-8 text-right">
                    <i class="pi pi-trash pl-4 invisible" *ngIf="i > 0" (click)="onRemoveStep(i)"></i>
                    <i class="pi pi-clone px-4 invisible" (click)="onCloneStep(i)"></i>
                  </div>
                </div>
              </div>

              <!-- Step inputs -->
              <div class="col-1 event-col">
                <!-- Select evEnt -->
                <p-dropdown
                  formControlName="customerEvent"
                  [options]="events"
                  [optionValue]="'type'"
                  [optionLabel]="'type'"
                  placeholder="Select an event"
                  [filter]="true"
                  filterBy="type"
                  class="wide"
                ></p-dropdown>
              </div>

              <!-- Step properties column -->
              <div class="col-10">
                <div class="grid">
                  <div class="col-12">

                    <!-- Add an event attribute (SHOW: no other props) -->
                    <button
                      pButton pRipple
                      type="button"
                      label="+ Add an event attribute"
                      class="p-button-info p-button-text p-button-sm mb-1"
                      *ngIf="step.controls['customerEvent'].valid && !getStepEventProperties(i).length"
                      (click)="addStepProperty(i)"
                    ></button>

                    <ng-container *ngIf="getStepEventProperties(i).length">
                      <div class="grid" formArrayName="properties">

                        <!-- Step properties multiple rows inside the column -->
                        <div class="col-12 property-row" *ngFor="let property of getStepEventProperties(i).controls, let j = index">
                          <ng-container [formGroup]="property">

                            <!-- Select an event attribute -->
                            <p-dropdown
                              formControlName="propertyObject"
                              [options]="propertiesByEvent[getStepCustomerEventValue(i)]"
                              [optionLabel]="'property'"
                              placeholder="Select an attribute"
                              [filter]="true"
                              filterBy="property"
                              class="wide property-dropdown"
                              (onChange)="onSelectProperty($event, i,j)"
                            >
                              <ng-template pTemplate="header">
                                <!-- Show related selected event in the attributes dropdown -->
                                <div class="current-event-in-prop">
                                  <button
                                    pButton
                                    pRipple
                                    type="button"
                                    class="p-button-secondary p-button-sm"
                                  >
                                    {{ getStepCustomerEventValue(i) }}
                                  </button>
                                </div>
                              </ng-template>
                            </p-dropdown>
                            <!-- Float icon: REMOVE attribute -->
                            <i *ngIf="!isPropertyNameSelected(i, j)"
                              class="pi pi-times invisible"
                              (click)="removeStepProperty(i, j)"
                            ></i>

                            <!-- After attribute selection: SHOW INPUTS -->
                            <app-attribute-inputs
                              [i]="i"
                              [j]="j"
                              [isPropertyNameSelected]="isPropertyNameSelected(i,j)"
                              [optionsOperators]="operators[getPropertyType(i, j)]"
                              [operatorsDropdownHeaderTabs]="operatorsDropdownHeaderTabs"
                              [activeOperatorsTab]="getActiveOperatorsTab(i, j)"
                              [propertyType]="getPropertyType(i, j)"
                              [propertyOperator]="getPropertyOperator(i, j)"
                              (changeActiveOperatorsTabAction)="changeActiveOperatorsTab($event)"
                              (removeStepPropertyAction)="removeStepPropertyByChild($event)"
                            ></app-attribute-inputs>
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </div>

                  <!-- Refine more button (add attribute to the event) -->
                  <div class="col refine-button" *ngIf="getStepEventProperties(i).length > 0">
                    <button
                      pButton pRipple
                      type="button"
                      label="Refine more"
                      class="p-button-info p-button-text p-button-sm"
                      (click)="addStepProperty(i)"
                    ></button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <p-divider *ngIf="i !== steps.controls.length - 1"></p-divider>
      </div>

      <div class="w-full text-center">
        <!-- Add another step -->
        <button
          pButton pRipple
          type="button"
          label="+ ADD FUNNEL STEP"
          class="p-button-info p-button-text p-button-sm"
          (click)="onAddStep()"
        ></button>
      </div>

    </div>
  </ng-container>
</ng-container>
