@import "~primeflex/primeflex.css";
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-orange/theme.css';
@import '~primeng/resources/primeng.min.css';

.p-dropdown {
  min-width: 200px;
  margin-right: 1rem;
}

.wide .p-dropdown-items-wrapper {
  width: 600px;
  min-height: 300px;
}

.p-dropdown-filter-container input {
  height: 32px;
}

.current-event-in-prop {
  display: inline-block;
  width: 15%;
  padding-left: 0.3em;
  transform: translateY(2px);
  .p-button {
    padding: 0.2em 0.5em;
    opacity: 0.7;
  }
}

.property-dropdown .p-dropdown-header {
  display: inline-block;
  width: 85%;
}
